<main class="todo-list">

  <header class="toolbar">
    <h1 class="toolbar__header">Задачи</h1>

    <span class="toolbar__add-task" (click)="openTodoCreateForm()">+</span>
  </header>

  <section class="projects-list">
    <app-project
      *ngFor="let project of projects"
      [project]="project"
      (todoCompletenessChange)="findTodoChangeCompleteness($event)"
    >
    </app-project>
  </section>

  <app-todo-creator
    [projects]="projects"
    [shouldFormBeVisible]="!shouldFormBeVisible"
    (changeFormVisibilityFlag)="closeForm()"
    (createNewTodoItem)="addNewTodoItem($event)"
  >
  </app-todo-creator>

  <div
    class="todo-list__wrapper"
    [hidden]="!shouldFormBeVisible"
    (click)="closeForm()"
  ></div>

</main>
